* {
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;

}


.header_section {
    background-color: rgb(21, 33, 54);
    width: 100%;
    height: 140px;


}

.header_section .header {
    width: 100%;
    height: 140px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    backdrop-filter: blur(10px);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid rgb(156, 156, 156);
    /* অন্য সবকিছুর উপরে রাখতে */
}

.header_section .header .header_div {
    margin: 0 auto;
    width: 100%;
}

.header_section .header .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 80%;
}

.header_section .header .head .menu div ul {
    display: flex;
    list-style: none;
}

.header_section .header .head .menu div ul li a {
    margin: 5px 20px;
    padding: 5px 5px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.header_section .header .head .menu div ul li a:hover {
    /* background-color: green; */
    border-bottom: 2px solid rgb(135, 203, 0);
    color: rgba(97, 255, 40, 0.984);
}

 .atag.active {
    /* background-color: green; */
    border-bottom: 2px solid rgb(135, 203, 0);
    /* color: rgba(97, 255, 40, 0.984); */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .menu {
        display: none;
        /* Hide Menu by default on mobile */
        position: absolute;
        top: 80px;
        right: 0;
        width: 95%;
        background: rgb(54, 0, 126);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        margin: 20px;
        /* margin-left: 50px; */
    }

    .menu ul {
        flex-direction: column;
        padding: 10px 0;
    }

    .menu ul li {
        /* text-align: center; */
        padding: 10px 5px;
        list-style: none;
    }


    .menu ul li a {
        padding: 5px 20px;
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

    .menu ul li:hover {
        color: green;
    }


    .menu_icon {
        display: block;
        /* Show hamburger icon */
    }

    .menu.show {
        display: block;
        /* Show menu when toggle */
    }
}





.home_section {
    width: 100%;
    height: 700px;
    background-color: rgb(21, 33, 54);
    color: white;
}

.home_section .home {
    width: 90%;
}

.home_section .home .title {
    display: flex;

    justify-content: center;
    align-items: start;
    height: 700px;
    flex-direction: column;
}

.home_section .home .title h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aqua;

}


.home_section .home .title h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 50px;

}

.home_section .home .title .icon {
    display: flex;
}

.home_section .home .title .icon div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgb(0, 184, 58);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.home_section .home .title .icon a {
    font-size: 20px;
    color: rgb(0, 184, 58);
    text-decoration: none;
    /* transform: 2s al; */

}

.home_section .home .title .icon a:hover {
    /* font-size: 30px; */
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(0, 184, 58);
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid rgb(0, 184, 58);
}


.home_section .home .title button {
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: aqua;
    font-size: 20px;
    outline: none;
}

.home_section .home .title button:hover {
    background-color: green;
    color: white;
    outline: none;

}











/* note */

.container {
    margin-right: auto !important;
    padding-right: 0 !important;
}

.row {
    margin-right: 0 !important;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding-right: 0 !important;
}

.section_singel_right {
    margin-right: 0 !important;
    padding-right: 0 !important;
}