.header_section {
    width: 100%;
    height: 120px;
    border-bottom: 2px solid rgb(149, 149, 149);
    background: #fff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header_section_div {
    width: 80%;
}

.header_section_div ul{
    display: flex;
    text-align: center;
    align-items: center;
    list-style: none;
    justify-content: center;
}

.header_section_div a {
    padding: 0 20px;
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.login_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}


.slide_section {
    width: 70%;
    margin: 0 auto;
    /* সেন্টারে আনার জন্য */
    height: 500px;
    /* স্লাইডের উচ্চতা 600px থাকবে */
}

.slide_section img {
    margin-top: 150px;
    width: 100%;
    height: 500px;
    /* ইমেজের উচ্চতা 100% থাকবে স্লাইডের মধ্যে */
    object-fit: cover;
    /* ইমেজটি সম্পূর্ণভাবে দেখাবে, কিন্তু আকারের মধ্যে থাকবে */
}



.slide_section .button {
    position: absolute;
    top: 28%;
    /* উপরে অবস্থান করার জন্য */
    left: 0;
    right: 0;
    right: 30px;
    display: flex;
    justify-content: end;
    z-index: 10;
    /* বাটনগুলো স্লাইডের উপরে থাকবে */
}

.button .right_button {
    margin-right: 10px;
}

.slide_section .button button {
    background-color: rgba(0, 0, 0, 0.5);
    /* বাটনের ব্যাকগ্রাউন্ড কালো রঙের সেন্ট্রাল ট্রান্সপারেন্সি */
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    z-index: 10;
    margin-left: 10px;
    /* বাটনের অবস্থান স্লাইডের উপরে থাকবে */
}

.slide_section .button button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    /* হোভার অবস্থায় ব্যাকগ্রাউন্ড গা dark ় হবে */
}



.carousel-item {
    position: relative;
}

.text-overlay {
    position: absolute;
    bottom: 20px; /* টেক্সট নিচে রাখবে */
    left: 50%;
    transform: translateX(-50%);
    color: white; /* টেক্সটের রঙ সাদা */
    background: rgba(0, 0, 0, 0.5); /* কালো ট্রান্সপারেন্ট ব্যাকগ্রাউন্ড */
    padding: 10px;
    border-radius: 5px;
    /* text-align: center; */
    width: 100%;
}

/* h5 element styling */
.text-overlay h5 {
    position: relative;
    display: inline-block;
    padding: 10px;
    text-align: left; /* Text alignment to the left */
    overflow: hidden;
}

/* Adding left-to-right hover effect */
.text-overlay h5::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px; /* Border thickness */
    background-color: #007bff; /* Blue color for the border */
    transition: width 0.5s ease;
}

/* Hover effect */
.text-overlay h5:hover::before {
    width: 100%;
}



